/* static/css/dashboard.css */

body { /* cuerpo de la página */
    font-family: Tahoma, sans-serif; /* tipo de fuente */
    margin: 0; /* margen */
    padding: 0; /* relleno */
    display: flex; /* muestra en fila */
    height: 100vh; /* altura */
    overflow: hidden; /* oculta contenido sobrante */
}

.dashboard-container { /* contenedor de la página */
    display: flex; /* muestra en fila */
    width: 110%; /* ancho */
    height: 100%; /* altura */
}

.panel { /* panel */
    width: 250px; /* ancho */
    background-color: #2c3e50; /* color de fondo */
    color: white; /* color del texto */
    padding: 20px; /* relleno */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* sombra */
    box-shadow: 0 0 20px rgba(29, 71, 99, 0.8); /* Efecto de brillo */
    
}

.panel h2 { /* encabezado */
    margin-top: 0; /* margen superior */
    text-align: center; /* alinear texto */
    color: #ecf0f1; /* color del texto */
}

.dashboard-menu { /* menu */
    list-style-type: none; /* tipo de lista */
    padding: 0; /* relleno */
}

.dashboard-menu li { /* elemento de lista */
    margin: 10px 0; /* margen */
}

.dashboard-menu a, .logout-button { /* enlace */ /*boton de salida de sesion*/
    display: block; /* mostrar en bloque */
    padding: 10px; /* relleno */
    background-color: #34495e; /* color de fondo */
    color: white; /* color del texto */
    text-decoration: none; /* sin subrayado */
    border-radius: 5px; /* redondear bordes */
    text-align: center; /* alinear texto */
    transition: background-color 0.3s; /* transición suave al cambiar de color */
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.8); /* Efecto de brillo */
}

.dashboard-menu a:hover, .logout-button:hover { /* enlace al pasar el cursor por boton y menu*/
    background-color: #1abc9c; /* color de fondo al pasar el cursor */
}

.logout-button { /*boton de salida de sesion*/
    background-color: #880d0d; /* color de fondo */
    border: none; /* sin borde */ 
    cursor: pointer; /* cursor al pasar el cursor */
    display: flex; /* mostrar en fila */
    flex-direction: column; /* mostrar en columna */
    justify-content: space-between; /* justificar elementos en columnas */
    width: 250px; /* ancho */
    text-align: center; /* alinear texto */
    align-self: center; /* alinear en el centro */
    
}

.logout-button span { /* span boton de salida de sesion*/
    width: 100%; /* ancho */
}

.logout-button:hover { /* boton de salida de sesion al pasar el cursor*/
    background-color: #c0392b;
}

.content { /* contenido */
    flex-grow: 1; /* expandir */
    padding: 20px; /* relleno */
    background-color: white; /* color de fondo */
    overflow-y: auto; /* mostrar barra de desplazamiento */
}

.content h1 { /* encabezado */
    margin-top: 0; /* margen superior */
}

table { /* tabla */
    width: 100%; /* ancho */
    border-collapse: collapse; /* separar bordes */
    margin-bottom: 20px; /* margen inferior */
}

th, td { /* elemento de tabla */
    padding: 8px; /* relleno */
    border: 1px solid #dddddd62; /* color de borde */
    text-align: left; /* alinear texto */
}

th { /* encabezado */
    background-color: #f2f2f23d; /* color de fondo */
}

tr:nth-child(even) { /* elemento de tabla */
    background-color: #f9f9f9a8; /* color de fondo */
    border-color: black; /* color de borde */
}

tr:hover { /* elemento de tabla al pasar el cursor */
    background-color: #f1f1f1; /* color de fondo al pasar el cursor */
}

.proveedores-content { /* contenido proveedor */
    margin-left: 60px; /* margen izquierdo */
    margin-top: 20px; /* margen superior */
    padding: 50px; /* relleno */
    flex: 1; /* flex */
    display: flex; /* mostrar en fila */
    align-items: flex-start; /* alinear elementos */
    justify-content: center; /* justificar elementos */
    border-radius: 5px; /* redondear bordes */
    background-color: #f8f9fa7c; /* color de fondo */
    box-shadow: rgb(29, 45, 184) 0 0 15px; /* Efecto de brillo */
    max-width: 800px; /* ancho maximo */
}

.boton-grafico-stock, /* boton grafico de stock */
.boton-nuevo-pedido, /* boton nuevo pedido */
.boton-nuevo-producto, /* boton nuevo producto */
.boton-nuevo-proveedor { /* boton nuevo proveedor */
    display: inline-block; /* mostrar en bloque */
    margin-top: 36px; /* margen superior */
    padding: 10px 20px; /* relleno */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Redondear bordes */
    transition: background-color 0.3s; /* Transición suave al cambiar de color */
    box-shadow: 0 0 20px rgba(119, 134, 145, 0.8); /* Efecto de brillo */
}

.boton-grafico-stock:hover, /* boton grafico de stock al pasar el cursor */
.boton-nuevo-pedido:hover, /* boton nuevo pedido al pasar el cursor */
.boton-nuevo-producto:hover, /* boton nuevo producto al pasar el cursor */
.boton-nuevo-proveedor:hover { /* boton nuevo proveedor al pasar el cursor */
    background-color: #0056b3; /* Color de fondo del botón al pasar el cursor */
}

.editar { /* link editar */
    color: #2572c4; /* Color del texto del link */
    text-decoration: none; /* Sin subrayado */
    
}

.editar:hover { /* link editar al pasar el cursor */
    text-decoration: underline; /* Subrayado */
    color: #007bff; /* Color del texto del link al pasar el cursor */
}

.eliminar { /* link eliminar */
    color: #af1d2c; /* Color del texto del link */
    text-decoration: none; /* Sin subrayado */
    
}

.eliminar:hover { /* link eliminar al pasar el cursor */
    text-decoration: underline; /* Subrayado */
    color: #dc3545; /* Color del texto del link al pasar el cursor */
}

