<!--borrar_proveedor.html-->
{% load static %} <!-- Carga el archivo static -->
<!DOCTYPE html>
<html lang="es"> <!-- Idioma de la página -->
<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escala de la página -->
    <title>Borrar Proveedor</title> <!-- Título de la página -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/borrar_proveedor.css' %}"> <!-- Carga el archivo CSS -->
</head>
<body>
    <div class="borrar-proveedor"> <!-- Contenedor principal -->
        <h2>¿Estás seguro de que deseas eliminar este proveedor?</h2> <!-- Título de la página -->
        <form method="post"> <!-- Formulario para enviar los datos -->
            {% csrf_token %} <!-- Token de seguridad -->
            <input type="submit" value="Sí, borrar"> <!-- Botón para borrar el proveedor -->
        </form>
        <a href="{% url 'proveedor-list' %}" class="cancelar">Cancelar</a> <!-- Botón para cancelar la operación -->
    </div>
</body>
</html>
