<!--borrar_producto.html-->
{% load static %} <!-- Cargar el archivo static, Javascript, etc. -->
<!DOCTYPE html>
<html lang="es"> <!-- Idioma de la página -->
<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escala de la página -->
    <title>Borrar Producto</title> <!-- Título de la página -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/borrar_producto.css' %}"> <!-- Cargar el archivo CSS -->
</head>
<body>
    <div class="borrar-producto"> <!-- Div para centrar el contenido -->
        <h2>¿Estás seguro de que deseas eliminar este producto?</h2> <!-- Título de la página -->
        <form method="post"> <!-- Formulario para enviar los datos -->
            {% csrf_token %} <!-- Token de seguridad -->
            <input type="submit" value="Sí, borrar"> <!-- Botón para borrar el producto -->
        </form>
        <a href="{% url 'producto-list' %}" class="cancelar">Cancelar</a> <!-- Botón para cancelar la eliminación -->
    </div>
</body>
</html>
