<!--login.html-->
{% load static %} <!-- Esta linea carga los archivos estaticos como CSS, Javascript, etc. -->
<!DOCTYPE html>
<html lang="es"> <!-- Idioma del sitio -->
<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escala de la página  -->
    <title>Iniciar Sesión</title> <!-- Titulo de la página -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> <!-- Enlaza el archivo CSS para estilos -->
</head>
<body>
    <div class="video_background">
        <!-- Sección para el video de fondo -->
        <video autoplay loop muted> <!-- El video se reproduce automáticamente en bucle y sin sonido -->
            <source src="{% static 'css/videos/pastel-gradient.mp4' %}" type="video/mp4"> <!-- Fuente del video -->
            Tu navegador no soporta videos HTML5 <!-- Mensaje para navegadores que no soportan videos HTML5 -->
        </video>
    </div>
    <div class="login-container"> <!-- Contenedor para el formulario de inicio de sesión -->
        <h2>Iniciar Sesión</h2> <!-- Título de la página -->
        <form method="post" action="{% url 'login' %}"> <!-- Formulario que envía datos mediante POST a la URL de inicio de sesión -->
            {% csrf_token %} <!-- Token de seguridad para evitar ataques CSRF -->
            <label for="username">Nombre de Usuario:</label><br> <!-- Etiqueta para el campo de nombre de usuario -->
            <input type="text" id="username" name="username"><br> <!-- Campo de entrada para el nombre de usuario -->
            <label for="password">Contraseña:</label><br> <!-- Etiqueta para el campo de contraseña-->
            <input type="password" id="password" name="password"><br><br> <!-- Campo de entrada de la contraseña-->
            <input type="submit" value="Iniciar Sesión"> <!-- Botón para iniciar sesión y enviar los datos -->
        </form>
        <a href="{% url 'registro' %}">Registrarse</a> <!-- Boton que lleva a la pagina de registro -->
    </div>
</body>
</html>

